<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>CRM - Homepage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<a href="/logout" class="btn btn-secondary">
                    <i class="bi bi-house-door-fill"></i> Logout
                </a>
    <img src="https://i.ibb.co/q3w3bPwc/Mattia-SRL.png" alt="Logo CRM" class="logo">

    <div class="card-container">
        <a href="/clienti/all" class="card">Clienti associati 👤</a>
    </div>

</body>
</html>
